.pagination {
    margin: 120px 0 40px;
    text-align: center;
    border: 0;
}

.pagination .page-button {
    display: inline-block;
    position: relative;
    margin: 0 5px;
    padding: 0 6px;
    font-size: 14px;
}

.disable-link {
    color: #bbb6b6;
    cursor: pointer;
    pointer-events: none;
}