.pagination {
    margin: 120px 0 40px;
    text-align: center;
    border: 0;
}

.pagination .page-button {
    display: inline-block;
    position: relative;
    margin: 0 5px;
    padding: 0 6px;
    font-size: 14px;
}

.disable-link {
    color: #bbb6b6;
    cursor: pointer;
    pointer-events: none;
}

.posts-expand .post-eof {
    margin: 5px auto 5px;
    width: 100%;
}

.posts-expand .post-title {
    text-align: left;
}

.posts-expand .post-meta {
    margin: 3px 0 10px 0;
    text-align: left;
}

.post-body {
    font-family: 'Monda', "PingFang SC", "Microsoft YaHei", sans-serif;
    font-size: 14px;
}

.comments-wrap {
    margin: 40px 0 0 0;
}

.comments-wrap .ct-meta {
    border-bottom: 1px solid #e9e9e9;
    padding: 10px 0;
}

.comments-wrap .ct-counts {
    font-size: 16px;
    font-weight: bold;
    color: #fc6423;
}