<!DOCTYPE html>

<html class="theme-next pisces use-motion" lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/headBody"></div>

    <title>Leonds</title>
</head>

<body itemscope itemtype="http://schema.org/WebPage" lang="zh-CN">


<div class="container sidebar-position-left page-home">
    <div class="headband"></div>

    <div th:replace="common/header"></div>

    <main id="main" class="main">
        <div class="main-inner">
            <div class="content-wrap">
                <div id="content" class="content">
                    <div style="text-align: center;" th:if="${title != null}"><h1 th:text="${title}"></h1></div>
                    <div th:include="common/posts"></div>

                    <nav class="pagination">
                        <!--<span style="font-size: 16px;margin-top: 3px;"
                              th:text="${(posts.page+1) +'/'+ posts.totalPages}">1/2</span>-->
                        <a class="page-button disable-link" th:if="${posts.page - 1 < 0}" disabled>上一页</a>
                        <a class="page-button disable-link" th:if="${posts.page + 1 >= posts.totalPages}"
                           disabled>下一页</a>

                        <a class="page-button" th:if="${posts.page - 1>= 0}"
                           th:href="${path+'/?size=15&page=' + (posts.page - 1)}">上一页</a>
                        <a class="page-button" th:if="${posts.page + 1 < posts.totalPages}"
                           th:href="${path+'/?size=15&page=' + (posts.page + 1)}">下一页</a>
                    </nav>
                </div>
            </div>
            <div th:replace="common/aside::leftLayout('index')"></div>
        </div>
    </main>

    <div th:replace="common/footer"></div>
</div>

<div th:replace="common/js"></div>

</body>
</html>
